* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
.container {
    width: 350px;
    background: #fff;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    color: white;
    background-color: blue;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit {
    width: 100%;
    background-color: aqua;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

#submit:hover {
    background-color: rgb(220, 120, 255);
}