* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    text-align: center;
}
p{
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    font-weight: 100;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
}
#logo h1{
    color: beige;
    background-color: blue;
    padding: 10px;
    margin-bottom: 50px;
}
.container {
 display: inline-block;
 font-size: 2rem;
}

.container textarea {
    display: flex;
    padding: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border: 1ps solid black;
    margin: 50px;
    padding: 10px;
    border-radius: 10%;
    background-color: aquamarine;
}
